<div>
    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        Public Profile
                    </div>
                </div>
            </div>

            <div class="panel-body">

                <div data-bind="with:profile">
                    <div class="col-sm-2">
                        <span data-bind="text: firstName"></span>
                        <span data-bind="text: lastName"></span>
                    </div>
                    <div class="col-sm-10">
                        <span data-bind="text: bio"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>